//@import "fonts/Ubuntu/Ubuntu.css";
html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.link{
  color: #444450;
  &:hover{
    color: #1a83ff;
  }
  text-decoration: underline;
}

.clearfix{
  height: 30vh;
}
html {
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}



