//@import "fonts/Ubuntu/Ubuntu.css";
html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.content-image{
  width: 100%;
  height: auto;
}

.link{
  color: #444450;
  &:hover{
    color: #1a83ff;
  }
  text-decoration: underline;
}

* a{
  color: initial;
  text-decoration: none;
}

.clearfix{
  height: 30vh;
}

html {
  overflow-y: scroll;
}

*, *:before, *:after {
  box-sizing: border-box;
}



